# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\IUT MODULES 2021 spring\IP(INTERNET PROGRAMMING)\LABS\lab-6-Jasurbek-Sharofiddinov-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
